<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rule.name %>
</p>

<p>
  <strong>Regexp:</strong>
  <%= @rule.regexp %>
</p>

<p>
  <strong>Category:</strong>
  <%= @rule.category_id %>
</p>

<%= link_to 'Edit', edit_rule_path(@rule) %> |
<%= link_to 'Back', rules_path %>
